#regular-form-title, #gcode-centered-profile, #gcode-centered-square,
#gcode-centered-flow, #gcode-centered-retra, #gcode-centered-temp, #gcode-centered-accel {
    text-align: center;
}

.smallSizeTextbox {
    width: 50px;
}

.midsizeTextbox {
    width: 100px;
}

span.whitespace {
    display: inline-block;
    width: 50px;
}

span.whitespace2 {
    display: inline-block;
    width: 20px;
}

img.stateImageClass {
    width: 50%;
    height: auto;
}

span.layerHeightRetra {
    position: absolute;
    margin-top: 40px;
}

span.layerHeightTemp {
    position: absolute;
    margin-top: 30px;
}

.retractionBase {
    position: relative;
    left: 315px;
    width: 350px;
    height: 30px;
}

#start-gcode-profile, #end-gcode-profile, #start-gcode-square, #end-gcode-square, #start-gcode-flow, #end-gcode-flow,
#start-gcode-retra, #end-gcode-retra, #start-gcode-temp, #end-gcode-temp, #start-gcode-accel, #end-gcode-accel {
    min-width: 240px;
    min-height: 140px;
    max-width: 700px;
    max-height: 300px;
}

.control-box-retra {
    position: absolute;
    margin-top: 20px;
}

.control-box-temp {
    position: absolute;
    margin-top: 10px;
}