<h1>Calibration Companion</h1>

<div>This plugin was made by me, <a href="https://github.com/iFrostizz" target="_blank">iFrostizz</a>. It worked for me and I can't guarantee the 100% reliability so please be careful
    when handling it, and always stay next to your printer.
</div><br>

<!-- Button to trigger modal -->
<div id="go-button"><a href="#myModal-calibrationcompanion" role="button" class="btn" data-toggle="modal">Let's go !</a></div><br>

<!-- Modal -->
<div id="myModal-calibrationcompanion" class="modal large hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="myModalLabel">Calibration process</h4>
    </div>
    <div class="modal-body">
        <ul class="nav nav-pills nav-fill" id="first-ul">
            <li class="active"><a href="#setup-calibrationcompanion" data-toggle="tab">Setup</a></li>
            <li><a href="#profiles-calibrationcompanion" data-toggle="tab">Profiles</a></li>
            <li><a href="#pid-calibrationcompanion" data-toggle="tab">PID Autotune</a></li>
            <li><a href="#layer-calibrationcompanion" data-toggle="tab">First Layer</a></li>
            <!--<li><a href="#baseline-calibrationcompanion" data-toggle="tab">Baseline Print</a></li>-->
            <li><a href="#extruder-calibrationcompanion" data-toggle="tab">E-steps</a></li>
            <li><a href="#flow-calibrationcompanion" data-toggle="tab">Flow</a></li>
            <!--<li><a href="#current-calibrationcompanion" data-toggle="tab">Stepper Motor Driver</a></li>-->
            <li><a href="#retraction-calibrationcompanion" data-toggle="tab">Retraction</a></li>
            <li><a href="#temperature-calibrationcompanion" data-toggle="tab">Temperature</a></li>
            <li><a href="#acceleration-calibrationcompanion" data-toggle="tab">Acceleration</a></li>
            <!--<li><a href="#linear" data-toggle="tab">Linear Advance</a></li>-->
        </ul>

        <div class="tab-content">
            <!--Setup-->
            <div class="tab-pane active" id="setup-calibrationcompanion">
                <form class="form-horizontal">
                    <div class="row-fluid">
                        <div class="span6">
                            <div class="control-group">
                                <label class="control-label" for="printerName"><strong>Printer Name</strong></label>
                                <div class="controls">
                                    <input type="text" class="midsizeTextbox" id="printerName" data-bind="value: printer_name">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="filamentUsed"><strong>Filament Used</strong></label>
                                <div class="controls">
                                    <select class="midsizeTextbox" id="filamentUsed" data-bind="value: filament_used">
                                        <option value="PLA">PLA</option>
                                        <option value="ABS">ABS</option>
                                        <option value="PETG">PETG</option>
                                        <option value="TPU">TPU</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="filamentDiameter"><strong>Filament Diameter</strong></label>
                                <div class="controls">
                                    <div class="input-append">
                                        <input type="text" class="midsizeTextbox" id="filamentDiameter" data-bind="value: filament_diameter" placeholder="(mm)">
                                        <span class="add-on">mm</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="span6">
                            <div class="control-group">
                                <label class="control-label" for="bedSizeX"><strong>Bed Size X</strong></label>
                                <div class="controls">
                                    <div class="input-append">
                                        <input type="text" class="midsizeTextbox" id="bedSizeX" placeholder="X >=100" data-bind="textInput: bed_size_x">
                                        <span class="add-on">mm</span>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="bedSizeY"><strong>Bed Size Y</strong></label>
                                <div class="controls">
                                    <div class="input-append">
                                        <input type="text" class="midsizeTextbox" id="bedSizeY" placeholder="Y >=100" data-bind="textInput: bed_size_y">
                                        <span class="add-on">mm</span>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="bedSizeZ"><strong>Bed Size Z</strong></label>
                                <div class="controls">
                                    <div class="input-append">
                                        <input type="text" class="midsizeTextbox" id="bedSizeZ" data-bind="textInput: bed_size_z">
                                        <span class="add-on">mm</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span4">
                            <div class="control-group">
                                <label class="control-label" for="nozzleSize"><strong>Nozzle size</strong></label>
                                <div class="controls">
                                    <select class="midsizeTextbox" id="nozzleSize" data-bind="value: nozzle_size">
                                        <option value="0.4">0.4</option>
                                        <option value="0.6">0.6</option>
                                        <option value="0.8">0.8</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="relativePositioning"><strong>Relative Positioning</strong></label>
                                <div class="controls">
                                    <input type="checkbox" id="relativePositioning" data-bind="checked: relative_positioning">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="originCheck"><strong>Delta printer (0,0 at centre)</strong></label>
                                <div class="controls">
                                    <div class="input-append">
                                        <input type="checkbox" id="originCheck" data-bind="checked: origin_check">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!--Profiles Tab-->
            <div class="tab-pane" id="profiles-calibrationcompanion">
                <form class="form-inline">
                    <span id="regular-form-title"><h4><b>Profile</b></h4></span><br>
                        <div class="control-group">
                            <label class="control-label" for="profile-selection"><strong>Profile selection</strong></label>
                            <div class="controls">
                                <div class="input-append">
                                    <select class="form-control" id="profile-selection" data-bind="value: profile_selection">
                                        <option value=""></option>
                                        <option value="profile1">Profile 1</option>
                                        <option value="profile2">Profile 2</option>
                                        <option value="profile3">Profile 3</option>
                                    </select>
                                    <button type="button" class="btn btn-primary" id="load-profile">Load</button>
                                    <button type="button" class="btn btn-primary" id="save-profile">Save</button>
                                    <button type="button" class="btn btn-primary" id="reset-profile">Reset</button>
                                </div>
                            </div>
                        </div>
                </form><br><br><br><br>
                <form class="form-horizontal">
                    <div class="row-fluid">
                        <div class="span6">
                    <span id="regular-form-title"><h4><b>Temperature</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="first-layer-nozzle-profile"><strong>1<sup>st</sup> layer nozzle temperature</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="first-layer-nozzle-profile">
                                <span class="add-on">°C</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="regular-nozzle-profile"><strong>Regular nozzle temperature</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="regular-nozzle-profile">
                                <span class="add-on">°C</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="regular-bed-profile"><strong>Bed Temperature</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="regular-bed-profile">
                                <span class="add-on">°C</span>
                            </div>
                        </div>
                    </div><br>

                    <span id="regular-form-title"><h4><b>Fan</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="fan-speed-profile"><strong>Fan at</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="fan-speed-profile">
                                <span class="add-on">%</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="fan-layer-profile"><strong>At layer</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="fan-layer-profile">
                            </div>
                        </div>
                    </div><br>

                    <span id="regular-form-title"><h4><b>Printing speed</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="first-layer-speed-profile"><strong>First layer speed</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="first-layer-speed-profile">
                                <span class="add-on">mm/s</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="regular-speed-profile"><strong>Regular speed</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="regular-speed-profile">
                                <span class="add-on">mm/s</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="travel-speed-profile"><strong>Travel speed</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="travel-speed-profile">
                                <span class="add-on">mm/s</span>
                            </div>
                        </div>
                    </div>
                        </div>
                        <div class="span6">


                    <span id="regular-form-title"><h4><b>Retraction</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="retraction-dist-profile"><strong>Retraction distance</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="retraction-dist-profile">
                                <span class="add-on">mm</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="retraction-speed-profile"><strong>Retraction speed</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="retraction-speed-profile">
                                <span class="add-on">mm/s</span>
                            </div>
                        </div>
                    </div><br>
                    <span id="regular-form-title"><h4><b>Extra</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="flow-profile"><strong>Flow</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="flow-profile">
                                <span class="add-on">%</span>
                            </div>
                        </div>
                    </div><br>
                    <span id="regular-form-title"><h4><b>ABL</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="abl-method-profile"><strong>ABL method</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <select class="form-control" id="abl-method-profile">
                                    <option value=";no-abl">No ABL</option>
                                    <option value="G29">G29</option>
                                    <option value="M420 S1">M420 S1</option>
                                    <option value="M420 L0 S1">M420 L0 S1</option>
                                    <option value="M420 L1 S1">M420 L1 S1</option>
                                    <option value="M420 L2 S1">M420 L2 S1</option>
                                    <option value="M420 L3 S1">M420 L3 S1</option>
                                </select>
                            </div>
                        </div>
                    </div>
                        </div>
                    </div><br>
                </form>
                <form class="form-inline" id="gcode-centered-profile">
                    <span id="regular-form-title"><h4><b>Gcode</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="start-gcode-profile"><strong>Start Gcode</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <textarea id="start-gcode-profile" class="textarea" placeholder="This will be inserted before the print started..."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="end-gcode-profile"><strong>End Gcode</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <textarea id="end-gcode-profile" class="textarea" placeholder="This will be inserted after the print has finished..."></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!--PID Tab-->
            <div class="tab-pane" id="pid-calibrationcompanion">
                <form class="form-inline">
                    <label class="control-label" for="nozzlePidTemp"><strong>Nozzle temperature</strong></label>
                    <div class="input-append">
                        <input type="text" class="midsizeTextbox" id="nozzlePidTemp" data-bind="value: nozzle_pid_temp">
                        <span class="add-on">°C</span>
                    </div>
                    <label class="control-label" for="bedPidTemp"><strong>Bed temperature</strong></label>
                    <div class="input-append">
                        <input type="text" class="midsizeTextbox" id="bedPidTemp" data-bind="value: bed_pid_temp">
                        <span class="add-on">°C</span>
                        <a id="aboutBedPid" href="#" data-toggle="tooltip" data-placement="bottom" title="leave empty if not enabled"></a>
                    </div>
                    <label class="control-label" for="cyclesAmount"><strong>Cycles</strong></label>
                    <input type="text" class="midsizeTextbox" id="cyclesAmount" data-bind="value: cycles_amount">
                    <button type="button" class="btn btn-primary" data-bind="click:function(){pid_autotune_routine();}">Run PID autotune</button>
                </form><br>
                <div class="btn-group" data-toggle="buttons-radio">
                    <button type="button" class="btn btn-primary" data-bind="click:function(){fan_trigger_on();}">Fans on</button>
                    <button type="button" class="btn btn-primary" data-bind="click:function(){fan_trigger_off();}">Fans off</button>
                </div><br><br>
                <!--<div class="progress progress-striped active">
                    <div class="bar" id="pid-progress-bar"></div>
                </div>-->
            </div>

            <!--First Layer Tab-->
            <div class="tab-pane" id="layer-calibrationcompanion">
                <form class="form-inline">
                    <form class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label" for="extra-margin"><strong>Extra Margin From Edge</strong></label>
                            <div class="controls">
                                <div class="input-append">
                                    <input type="text" class="midsizeTextbox" id="extra-margin" data-bind="value: extra_margin">
                                    <span class="add-on">mm</span>
                                </div>
                            </div>
                        </div>
                    </form><br><br>

                    <form class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label" for="knob"><strong>No ABL</strong></label>
                            <div class="controls">
                                <button type="button" class="btn btn-primary" id="knob">Start Bed Levelling Routine</button>
                            </div>
                        </div>
                    </form>
                </form><br><br>

                <form class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="resetProcedure"><strong>ABL</strong></label>
                        <div class="controls">
                            <button type="button" class="btn btn-primary" id="resetProcedure" data-bind="enable: controlViewModel.isReady()">Reset Procedure</button>
                            <button type="button" class="btn btn-primary" id="step1" data-bind="enable: controlViewModel.isReady()"><!-- data-bind="enable: controlViewModel.isReady()"-->Step 1</button>
                            <button type="button" class="btn btn-primary" id="step2"><!-- data-bind="enable: controlViewModel.isReady()"-->Step 2</button>
                            <button type="button" class="btn btn-primary" id="step3"><!-- data-bind="enable: controlViewModel.isReady()"-->Step 3</button>
                            <button type="button" class="btn btn-primary" id="step4"><!-- data-bind="enable: controlViewModel.isReady()"-->Step 4</button>
                            <button type="button" class="btn btn-primary" id="minusz1"><!-- data-bind="enable: controlViewModel.isReady()"--><i class="fa fa-arrow-down">-1</i></button>
                            <button type="button" class="btn btn-primary" id="minusz0.1"><!-- data-bind="enable: controlViewModel.isReady()"--><i class="fa fa-arrow-down">-0.1</i></button>
                            <button type="button" class="btn btn-primary" id="plusz0.1"><!-- data-bind="enable: controlViewModel.isReady()"--><i class="fa fa-arrow-up">0.1</i></button>
                            <button type="button" class="btn btn-primary" id="plusz1"><!-- data-bind="enable: controlViewModel.isReady()"--><i class="fa fa-arrow-up">1</i></button>
                        </div>
                    </div>
                </form><br><br><br><br><br><br><br><br><br>
                <form class="form-inline">
                    <span id="regular-form-title"><h4><b>Profile</b></h4></span><br>
                        <div class="control-group">
                            <label class="control-label" for="profile-selection-square"><strong>Profile selection</strong></label>
                            <div class="controls">
                                <div class="input-append">
                                    <select class="form-control" id="profile-selection-square" data-bind="value: profile_selection_square">
                                        <option value=""></option>
                                        <option value="profile1">Profile 1</option>
                                        <option value="profile2">Profile 2</option>
                                        <option value="profile3">Profile 3</option>
                                    </select>
                                    <button type="button" class="btn btn-primary" id="load-profile-square">Load</button>
                                </div>
                            </div>
                        </div>
                </form><br><br><br><br>

                <form class="form-horizontal">
                    <div class="row-fluid">
                        <div class="span6">
                    <span id="regular-form-title"><h4><b>Temperature</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="regular-nozzle-square"><strong>Nozzle temperature</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="regular-nozzle-square" data-bind="value: regular_nozzle_square">
                                <span class="add-on">°C</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="regular-bed-square"><strong>Bed Temperature</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="regular-bed-square" data-bind="value: regular_bed_square">
                                <span class="add-on">°C</span>
                            </div>
                        </div>
                    </div><br>

                    <span id="regular-form-title"><h4><b>Fan</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="fan-speed-square"><strong>Fan at</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="fan-speed-square" data-bind="value: fan_speed_square">
                                <span class="add-on">%</span>
                            </div>
                        </div>
                    </div><br>

                    <span id="regular-form-title"><h4><b>Printing speed</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="regular-speed-square"><strong>Regular speed</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="regular-speed-square" data-bind="value: regular_speed_square">
                                <span class="add-on">mm/s</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="travel-speed-square"><strong>Travel speed</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="travel-speed-square" data-bind="value: travel_speed_square">
                                <span class="add-on">mm/s</span>
                            </div>
                        </div>
                    </div><br>
                        </div>
                        <div class="span6">
                    <span id="regular-form-title"><h4><b>Retraction</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="retraction-dist-square"><strong>Retraction distance</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="retraction-dist-square" data-bind="value: retraction_dist_square">
                                <span class="add-on">mm</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="retraction-speed-square"><strong>Retraction speed</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="retraction-speed-square" data-bind="value: retraction_speed_square">
                                <span class="add-on">mm/s</span>
                            </div>
                        </div>
                    </div><br>
                    <span id="regular-form-title"><h4><b>Extra</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="flow-square"><strong>Flow</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="flow-square" data-bind="value: flow_square">
                                <span class="add-on">%</span>
                            </div>
                        </div>
                    </div><br>
                    <span id="regular-form-title"><h4><b>ABL</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="abl-method-square"><strong>ABL method</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <select class="form-control" id="abl-method-square" data-bind="value: abl_method_square">
                                    <option value=";no-abl">No ABL</option>
                                    <option value="G29">G29</option>
                                    <option value="M420 S1">M420 S1</option>
                                    <option value="M420 L0 S1">M420 L0 S1</option>
                                    <option value="M420 L1 S1">M420 L1 S1</option>
                                    <option value="M420 L2 S1">M420 L2 S1</option>
                                    <option value="M420 L3 S1">M420 L3 S1</option>
                                </select>
                            </div>
                        </div>
                    </div>
                        </div>
                    </div>
                </form><br>

                <form class="form-inline" id="gcode-centered-square">
                    <span id="regular-form-title"><h4><b>Gcode</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="start-gcode-square"><strong>Start Gcode</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <textarea id="start-gcode-square" class="textarea" data-bind="value: start_gcode_square" placeholder="This will be inserted before the print started..."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="end-gcode-square"><strong>End Gcode</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <textarea id="end-gcode-square" class="textarea" data-bind="value: end_gcode_square" placeholder="This will be inserted after the print has finished..."></textarea>
                            </div>
                        </div>
                    </div>
                </form><br>
                <form class="form-horizontal" id="print-squares-button">
                    <span id="regular-form-title"><h4><b>Print</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="calibration-square"><strong>Print Squares</strong></label>
                        <div class="controls">
                            <button id="calibration-square" class="btn btn-primary">Print squares</button>
                        </div>
                    </div>
                </form>
            </div>
            <!--Baseline Print Tab-->
            <!--<div class="tab-pane" id="baseline-calibrationcompanion">
                <button class="btn btn-primary" id="baseline-cube">Print baseline cube</button>Work in progress... &ensp;<i class="fa fa-bed" aria-hidden="true"></i>
            </div>-->
            <!--Extruder Calibration Tab-->
            <div class="tab-pane" id="extruder-calibrationcompanion">
                <form class="form-horizontal">
                    <span id="regular-form-title"><h4><b>Temperature</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="filament-path-distance"><strong>Filament path distance</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="filament-path-distance" data-bind="textInput: filament_path_distance">
                                <span class="add-on">mm</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="actual-estep"><strong>Actual Estep Value</strong></label>
                        <div class="controls">
                            <input type="text" class="midsizeTextbox" id="actual-estep" data-bind="textInput: actual_estep_value">
                            <button class="btn btn-primary" data-bind="click:function(){get_esteps();}">Get Estep value</button>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="reverse-extruder"><strong>Retract filament instead</strong></label>
                        <div class="controls">
                                <input type="checkbox" class="checkbox" id="reverse-extruder">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="measured-distance"><strong>Final measured distance</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="measured-distance" data-bind="textInput: measured_distance">
                                <span class="add-on">mm</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="final-estep"><strong>Final Estep Value</strong></label>
                        <div class="controls">
                            <input type="text" class="midsizeTextbox" id="final-estep" data-bind="textInput: final_estep_value" disabled>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="final-estep"><strong>Apply Final Esteps</strong></label>
                        <div class="controls">
                            <button class="btn btn-primary" data-bind="click:function(){apply_final_estep();}">Apply Final Esteps</button>
                        </div>
                    </div>
                </form>
            </div>
            <!--Flow Calibration Tab-->
            <div class="tab-pane" id="flow-calibrationcompanion">
                <form class="form-inline">
                    <span id="regular-form-title"><h4><b>Profile</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="profile-selection-flow"><strong>Profile selection</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <select class="form-control" id="profile-selection-flow" data-bind="value: profile_selection_flow">
                                    <option value=""></option>
                                    <option value="profile1">Profile 1</option>
                                    <option value="profile2">Profile 2</option>
                                    <option value="profile3">Profile 3</option>
                                </select>
                                <button type="button" class="btn btn-primary" id="load-profile-flow">Load</button>
                            </div>
                        </div>
                    </div>
                </form>
                <br><br><br><br>
                <form class="form-horizontal">
                    <div class="row-fluid">
                        <div class="span6">
                    <span id="regular-form-title"><h4><b>Temperature</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="first-layer-nozzle-flow"><strong>1<sup>st</sup> layer nozzle temperature</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="first-layer-nozzle-flow" data-bind="value: first_layer_nozzle_flow">
                                <span class="add-on">°C</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="regular-nozzle-flow"><strong>Regular nozzle temperature</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="regular-nozzle-flow" data-bind="value: regular_nozzle_flow">
                                <span class="add-on">°C</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="regular-bed-flow"><strong>Bed Temperature</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="regular-bed-flow" data-bind="value: regular_bed_flow">
                                <span class="add-on">°C</span>
                            </div>
                        </div>
                    </div><br>

                    <span id="regular-form-title"><h4><b>Fan</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="fan-speed-flow"><strong>Fan at</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="fan-speed-flow" data-bind="value: fan_speed_flow">
                                <span class="add-on">%</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="fan-layer-flow"><strong>At layer</strong></label>
                        <div class="controls">
                            <input type="text" class="midsizeTextbox" id="fan-layer-flow" data-bind="value: fan_layer_flow">
                        </div>
                    </div>
                        </div>
                        <div class="span6">
                    <span id="regular-form-title"><h4><b>Printing speed</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="first-layer-speed-flow"><strong>First layer speed</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="first-layer-speed-flow" data-bind="value: first_layer_speed_flow">
                                <span class="add-on">mm/s</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="regular-speed-flow"><strong>Regular speed</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="regular-speed-flow" data-bind="value: regular_speed_flow">
                                <span class="add-on">mm/s</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="travel-speed-flow"><strong>Travel speed</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="travel-speed-flow" data-bind="value: travel_speed_flow">
                                <span class="add-on">mm/s</span>
                            </div>
                        </div>
                    </div><br>
                    <span id="regular-form-title"><h4><b>Retraction</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="retraction-dist-flow"><strong>Retraction distance</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="retraction-dist-flow" data-bind="value: retraction_dist_flow">
                                <span class="add-on">mm</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="retraction-speed-flow"><strong>Retraction speed</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="retraction-speed-flow" data-bind="value: retraction_speed_flow">
                                <span class="add-on">mm/s</span>
                            </div>
                        </div>
                    </div><br>
                    <span id="regular-form-title"><h4><b>ABL</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="abl-method-flow"><strong>ABL method</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <select class="form-control" id="abl-method-flow" data-bind="value: abl_method_flow">
                                    <option value=";no-abl">No ABL</option>
                                    <option value="G29">G29</option>
                                    <option value="M420 S1">M420 S1</option>
                                    <option value="M420 L0 S1">M420 L0 S1</option>
                                    <option value="M420 L1 S1">M420 L1 S1</option>
                                    <option value="M420 L2 S1">M420 L2 S1</option>
                                    <option value="M420 L3 S1">M420 L3 S1</option>
                                </select>
                            </div>
                        </div>
                    </div>
                        </div>
                    </div>
                </form>
                <form class="form-inline" id="gcode-centered-flow">
                    <span id="regular-form-title"><h4><b>Gcode</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="start-gcode-flow"><strong>Start Gcode</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <textarea id="start-gcode-flow" class="textarea" data-bind="value: start_gcode_flow" placeholder="This will be inserted before the print started..."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="end-gcode-flow"><strong>End Gcode</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <textarea id="end-gcode-flow" class="textarea" data-bind="value: end_gcode_flow" placeholder="This will be inserted after the print has finished..."></textarea>
                            </div>
                        </div>
                    </div>
                </form><br>
                <form class="form-horizontal">
                    <span id="regular-form-title"><h4><b>Print</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="flow-cube"><strong>Print flow cube</strong></label>
                        <div class="controls">
                            <button id="flow-cube" class="btn btn-primary">Print flow cube</button>
                        </div>
                    </div>
                </form>
            </div>
            <!--Driver Vref calibration tab-->
            <div class="tab-pane" id="current-calibrationcompanion">
                <button class="btn" id="plus-button-driver" data-bind="click:function(){addDriver();}"><i class="fa fa-plus"></i></button>
                <button class="btn" id="minus-button-driver" data-bind="click:function(){removeDriver();}"><i class="fa fa-minus"></i></button>
                <b>&emsp;&nbsp;Driver type&emsp;&emsp;&emsp;&ensp;Stepper I<sub>max</sub> (A)&emsp;&emsp;Stepper I<sub>nom</sub> (A)&emsp;&emsp;R<sub>sense</sub> (&#8486)&emsp;&emsp;&emsp;&emsp;&emsp;V<sub>ref</sub> (V)</b><br><br>
                <div id="driverUsed"></div>
            </div>
            <!--Retraction Calibration Tab-->
            <div class="tab-pane" id="retraction-calibrationcompanion">
                <form class="form-inline">
                    <span id="regular-form-title"><h4><b>Profile</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="profile-selection-retra"><strong>Profile selection</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <select class="form-control" id="profile-selection-retra" data-bind="value: profile_selection_retra">
                                    <option value=""></option>
                                    <option value="profile1">Profile 1</option>
                                    <option value="profile2">Profile 2</option>
                                    <option value="profile3">Profile 3</option>
                                </select>
                                <button type="button" class="btn btn-primary" id="load-profile-retra">Load</button>
                            </div>
                        </div>
                    </div>
                </form>
                <br><br><br><br>
                <form class="form-horizontal">
                    <div class="row-fluid">
                        <div class="span6">
                    <span id="regular-form-title"><h4><b>Temperature</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="first-layer-nozzle-retra"><strong>1<sup>st</sup> layer nozzle temperature</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="first-layer-nozzle-retra" data-bind="value: first_layer_nozzle_retra">
                                <span class="add-on">°C</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="regular-nozzle-retra"><strong>Regular nozzle temperature</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="regular-nozzle-retra" data-bind="value: regular_nozzle_retra">
                                <span class="add-on">°C</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="regular-bed-flow"><strong>Bed Temperature</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="regular-bed-retra" data-bind="value: regular_bed_retra">
                                <span class="add-on">°C</span>
                            </div>
                        </div>
                    </div><br>

                    <span id="regular-form-title"><h4><b>Fan</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="fan-speed-retra"><strong>Fan at</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="fan-speed-retra" data-bind="value: fan_speed_retra">
                                <span class="add-on">%</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="fan-layer-retra"><strong>At layer</strong></label>
                        <div class="controls">
                            <input type="text" class="midsizeTextbox" id="fan-layer-retra" data-bind="value: fan_layer_retra">
                        </div>
                    </div>
                        </div>
                        <div class="span6">
                    <span id="regular-form-title"><h4><b>Printing speed</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="first-layer-speed-retra"><strong>First layer speed</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="first-layer-speed-retra" data-bind="value: first_layer_speed_retra">
                                <span class="add-on">mm/s</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="regular-speed-retra"><strong>Regular speed</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="regular-speed-retra" data-bind="value: regular_speed_retra">
                                <span class="add-on">mm/s</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="travel-speed-retra"><strong>Travel speed</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="travel-speed-retra" data-bind="value: travel_speed_retra">
                                <span class="add-on">mm/s</span>
                            </div>
                        </div>
                    </div><br>
                    <span id="regular-form-title"><h4><b>Extra</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="flow-retra"><strong>Flow</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="flow-retra" data-bind="value: flow_retra">
                                <span class="add-on">%</span>
                            </div>
                        </div>
                    </div>
                    <span id="regular-form-title"><h4><b>ABL</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="abl-method-retra"><strong>ABL method</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <select class="form-control" id="abl-method-retra" data-bind="value: abl_method_retra">
                                    <option value=";no-abl">No ABL</option>
                                    <option value="G29">G29</option>
                                    <option value="M420 S1">M420 S1</option>
                                    <option value="M420 L0 S1">M420 L0 S1</option>
                                    <option value="M420 L1 S1">M420 L1 S1</option>
                                    <option value="M420 L2 S1">M420 L2 S1</option>
                                    <option value="M420 L3 S1">M420 L3 S1</option>
                                </select>
                            </div>
                        </div>
                    </div>
                        </div>
                    </div>
                </form>
                <form class="form-inline" id="gcode-centered-retra">
                    <span id="regular-form-title"><h4><b>Gcode</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="start-gcode-retra"><strong>Start Gcode</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <textarea id="start-gcode-retra" class="textarea" data-bind="value: start_gcode_retra" placeholder="This will be inserted before the print started..."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="end-gcode-retra"><strong>End Gcode</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <textarea id="end-gcode-retra" class="textarea" data-bind="value: end_gcode_retra" placeholder="This will be inserted after the print has finished..."></textarea>
                            </div>
                        </div>
                    </div>
                </form>

                <form class="form-inline">
                    <span id="regular-form-title"><h4><b></b></h4></span><br>
                    <div class="control-group">
                        <div class="controls">
                            <button class="btn" id="plus-button-retra" data-bind="click:function(){addRetraction();}"><i class="fa fa-plus"></i></button>
                            <button class="btn" id="minus-button-retra" data-bind="click:function(){removeRetraction();}"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                </form>

                <b>&ensp;&nbsp;&nbsp;Retraction (distance - speed)</b><br><br>
                <div id="retraStage">
                </div><br><br><br>
                <form class="form-horizontal">
                    <span id="regular-form-title"><h4><b>Print</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="retraction-tower"><strong>Print retraction tower</strong></label>
                        <div class="controls">
                            <button id="retraction-tower" class="btn btn-primary">Print retraction tower</button>
                        </div>
                    </div>
                </form>
            </div>
            <!--Temperature Calibration Tab-->
            <div class="tab-pane" id="temperature-calibrationcompanion">
                <form class="form-inline">
                    <span id="regular-form-title"><h4><b>Profile</b></h4></span><br>
                        <div class="control-group">
                            <label class="control-label" for="profile-selection-temp"><strong>Profile selection</strong></label>
                            <div class="controls">
                                <div class="input-append">
                                    <select class="form-control" id="profile-selection-temp" data-bind="value: profile_selection_temp">
                                        <option value=""></option>
                                        <option value="profile1">Profile 1</option>
                                        <option value="profile2">Profile 2</option>
                                        <option value="profile3">Profile 3</option>
                                    </select>
                                    <button type="button" class="btn btn-primary" id="load-profile-temp">Load</button>
                                </div>
                            </div>
                        </div>
                </form>
                <br><br><br><br>
                <form class="form-horizontal">
                    <div class="row-fluid">
                        <div class="span6">
                    <span id="regular-form-title"><h4><b>Temperature</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="first-layer-nozzle-temp"><strong>1<sup>st</sup> layer nozzle temperature</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="first-layer-nozzle-temp" data-bind="value: first_layer_nozzle_temp">
                                <span class="add-on">°C</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="regular-bed-temp"><strong>Bed Temperature</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="regular-bed-temp" data-bind="value: regular_bed_temp">
                                <span class="add-on">°C</span>
                            </div>
                        </div>
                    </div><br>

                    <span id="regular-form-title"><h4><b>Fan</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="fan-speed-temp"><strong>Fan at</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="fan-speed-temp" data-bind="value: fan_speed_temp">
                                <span class="add-on">%</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="fan-layer-temp"><strong>At layer</strong></label>
                        <div class="controls">
                            <input type="text" class="midsizeTextbox" id="fan-layer-temp" data-bind="value: fan_layer_temp">
                        </div>
                    </div><br>

                    <span id="regular-form-title"><h4><b>Printing speed</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="first-layer-speed-temp"><strong>First layer speed</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="first-layer-speed-temp" data-bind="value: first_layer_speed_temp">
                                <span class="add-on">mm/s</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="regular-speed-temp"><strong>Regular speed</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="regular-speed-temp" data-bind="value: regular_speed_temp">
                                <span class="add-on">mm/s</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="travel-speed-temp"><strong>Travel speed</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="travel-speed-temp" data-bind="value: travel_speed_temp">
                                <span class="add-on">mm/s</span>
                            </div>
                        </div>
                    </div>
                        </div>
                        <div class="span6">
                    <span id="regular-form-title"><h4><b>Retraction</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="retraction-dist-temp"><strong>Retraction distance</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="retraction-dist-temp" data-bind="value: retraction_dist_temp">
                                <span class="add-on">mm</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="retraction-speed-temp"><strong>Retraction speed</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="retraction-speed-temp" data-bind="value: retraction_speed_temp">
                                <span class="add-on">mm/s</span>
                            </div>
                        </div>
                    </div><br>
                    <span id="regular-form-title"><h4><b>Extra</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="flow-temp"><strong>Flow</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="flow-temp" data-bind="value: flow_temp">
                                <span class="add-on">%</span>
                            </div>
                        </div>
                    </div><br>
                    <span id="regular-form-title"><h4><b>ABL</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="abl-method-temp"><strong>ABL method</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <select class="form-control" id="abl-method-temp" data-bind="value: abl_method_temp">
                                    <option value=";no-abl">No ABL</option>
                                    <option value="G29">G29</option>
                                    <option value="M420 S1">M420 S1</option>
                                    <option value="M420 L0 S1">M420 L0 S1</option>
                                    <option value="M420 L1 S1">M420 L1 S1</option>
                                    <option value="M420 L2 S1">M420 L2 S1</option>
                                    <option value="M420 L3 S1">M420 L3 S1</option>
                                </select>
                            </div>
                        </div>
                    </div>
                        </div>
                    </div>
                </form>
                <form class="form-inline" id="gcode-centered-temp">
                    <span id="regular-form-title"><h4><b>Gcode</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="start-gcode-temp"><strong>Start Gcode</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <textarea id="start-gcode-temp" class="textarea" data-bind="value: start_gcode_temp" placeholder="This will be inserted before the print started..."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="end-gcode-temp"><strong>End Gcode</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <textarea id="end-gcode-temp" class="textarea" data-bind="value: end_gcode_temp" placeholder="This will be inserted after the print has finished..."></textarea>
                            </div>
                        </div>
                    </div>
                </form><br><br>
                <form class="form-inline">
                    <span id="regular-form-title"><h4><b></b></h4></span><br>
                    <div class="control-group">
                        <div class="controls">
                            <button class="btn" id="plus-button-temp" data-bind="click:function(){addTemp();}"><i class="fa fa-plus"></i></button>
                            <button class="btn" id="minus-button-temp" data-bind="click:function(){removeTemp();}"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                </form>


                <b>&ensp;&nbsp;&nbsp;Temperature (°C)</b><br><br>
                <div id="tempStage"></div><br><br><br>
                <form class="form-horizontal">
                    <span id="regular-form-title"><h4><b>Print</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="retraction-tower"><strong>Print temperature tower</strong></label>
                        <div class="controls">
                            <button class="btn btn-primary" id="temp-tower">Print temperature tower</button>
                        </div>
                    </div>
                </form>
            </div>
            <!--Acceleration Calibration Tab-->
            <div class="tab-pane" id="acceleration-calibrationcompanion">
                <form class="form-inline">
                    <span id="regular-form-title"><h4><b>Profile</b></h4></span><br>
                        <div class="control-group">
                            <label class="control-label" for="profile-selection-accel"><strong>Profile selection</strong></label>
                            <div class="controls">
                                <div class="input-append">
                                    <select class="form-control" id="profile-selection-accel" data-bind="value: profile_selection_accel">
                                        <option value=""></option>
                                        <option value="profile1">Profile 1</option>
                                        <option value="profile2">Profile 2</option>
                                        <option value="profile3">Profile 3</option>
                                    </select>
                                    <button type="button" class="btn btn-primary" id="load-profile-accel">Load</button>
                                </div>
                            </div>
                        </div>
                </form>
                <br><br><br><br>
                <form class="form-horizontal">
                    <div class="row-fluid">
                        <div class="span6">
                    <span id="regular-form-title"><h4><b>Temperature</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="first-layer-nozzle-accel"><strong>1<sup>st</sup> layer nozzle temperature</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="first-layer-nozzle-accel" data-bind="value: first_layer_nozzle_accel">
                                <span class="add-on">°C</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="regular-nozzle-accel"><strong>Regular nozzle temperature</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="regular-nozzle-accel" data-bind="value: regular_nozzle_accel">
                                <span class="add-on">°C</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="regular-bed-accel"><strong>Bed Temperature</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="regular-bed-accel" data-bind="value: regular_bed_accel">
                                <span class="add-on">°C</span>
                            </div>
                        </div>
                    </div><br>

                    <span id="regular-form-title"><h4><b>Fan</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="fan-speed-accel"><strong>Fan at</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="fan-speed-accel" data-bind="value: fan_speed_accel">
                                <span class="add-on">%</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="fan-layer-accel"><strong>At layer</strong></label>
                        <div class="controls">
                            <input type="text" class="midsizeTextbox" id="fan-layer-accel" data-bind="value: fan_layer_accel">
                        </div>
                    </div><br>

                    <span id="regular-form-title"><h4><b>Printing speed</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="first-layer-speed-accel"><strong>First layer speed</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="first-layer-speed-accel" data-bind="value: first_layer_speed_accel">
                                <span class="add-on">mm/s</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="regular-speed-accel"><strong>Regular speed</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="regular-speed-accel" data-bind="value: regular_speed_accel">
                                <span class="add-on">mm/s</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="travel-speed-accel"><strong>Travel speed</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="travel-speed-accel" data-bind="value: travel_speed_accel">
                                <span class="add-on">mm/s</span>
                            </div>
                        </div>
                    </div>
                        </div>
                        <div class="span6">
                    <span id="regular-form-title"><h4><b>Retraction</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="retraction-dist-accel"><strong>Retraction distance</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="retraction-dist-accel" data-bind="value: retraction_dist_accel">
                                <span class="add-on">mm</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="retraction-speed-accel"><strong>Retraction speed</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="retraction-speed-accel" data-bind="value: retraction_speed_accel">
                                <span class="add-on">mm/s</span>
                            </div>
                        </div>
                    </div><br>
                    <span id="regular-form-title"><h4><b>Extra</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="flow-accel"><strong>Flow</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" class="midsizeTextbox" id="flow-accel" data-bind="value: flow_accel">
                                <span class="add-on">%</span>
                            </div>
                        </div>
                    </div><br>
                    <span id="regular-form-title"><h4><b>ABL</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="abl-method-accel"><strong>ABL method</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <select class="form-control" id="abl-method-accel" data-bind="value: abl_method_accel">
                                    <option value=";no-abl">No ABL</option>
                                    <option value="G29">G29</option>
                                    <option value="M420 S1">M420 S1</option>
                                    <option value="M420 L0 S1">M420 L0 S1</option>
                                    <option value="M420 L1 S1">M420 L1 S1</option>
                                    <option value="M420 L2 S1">M420 L2 S1</option>
                                    <option value="M420 L3 S1">M420 L3 S1</option>
                                </select>
                            </div>
                        </div>
                    </div>
                        </div>
                    </div>
                </form>
                <form class="form-inline" id="gcode-centered-accel">
                    <span id="regular-form-title"><h4><b>Gcode</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="start-gcode-accel"><strong>Start Gcode</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <textarea id="start-gcode-accel" class="textarea" data-bind="value: start_gcode_accel" placeholder="This will be inserted before the print started..."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="end-gcode-accel"><strong>End Gcode</strong></label>
                        <div class="controls">
                            <div class="input-append">
                                <textarea id="end-gcode-accel" class="textarea" data-bind="value: end_gcode_accel" placeholder="This will be inserted after the print has finished..."></textarea>
                            </div>
                        </div>
                    </div>
                </form><br><br><br><br>
                <form class="form-inline">
                    <span id="regular-form-title"><h4><b></b></h4></span><br>
                    <div class="control-group">
                        <div class="controls">
                            <button class="btn" id="plus-button-accel" data-bind="click:function(){addAccel();}"><i class="fa fa-plus"></i></button>
                            <button class="btn" id="minus-button-accel" data-bind="click:function(){removeAccel();}"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                </form>

                <b>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;&nbsp;Acceleration&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Jerk (X - Y)&emsp;&emsp;&emsp;Junction Deviation</b>
                <select name="parameter" id="parameter-select">
                    <option value="jerk">Jerk</option>
                    <option value="junction">Junction Deviation</option>
                </select>
                <form class="form-inline">
                    <div id="accelStage"></div>
                </form><br><br><br>
                <form class="form-horizontal">
                    <span id="regular-form-title"><h4><b>Print</b></h4></span><br>
                    <div class="control-group">
                        <label class="control-label" for="accel-tower"><strong>Print acceleration tower</strong></label>
                        <div class="controls">
                            <button class="btn btn-primary" id="accel-tower">Print acceleration tower</button>
                        </div>
                    </div>
                </form>
            </div>
            <!--Linear Advance Calibration Tab-->
            <div class="tab-pane" id="linear-calibrationcompanion">Work in progress... &ensp;<i class="fa fa-bed" aria-hidden="true"></i></div>
        </div>
    </div>

    <div class="modal-footer" id="modalFooter-calibrationcompanion">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>